<div class="product-container">
  <a routerLink="product-item-details/{{ product.id }}"
    ><img class="product-image" src="{{ product.url }}"
  /></a>
  <h1>{{ product.name }}</h1>
  <h3>{{ product.price }}</h3>
  <select
    [(ngModel)]="quantity"
    id="quantity"
    (ngModelChange)="onChange(quantity)"
  >
    <option *ngFor="let quantity of quantities" [ngValue]="quantity">
      {{ quantity }}
    </option>
  </select>
  <button
    (click)="addItem(product.name!, product.price!, quantity!, product.url!)"
  >
    Add to Cart
  </button>
</div>
